@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}


                                            /* Estilos generales */
h1, h2 {
    font-family: 'Playfair Display', serif; 
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight:300;
    color: gray;
}

#Nombre{
    color:cadetblue;
    font-weight: 700;
}

main p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

body {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

header {
    margin-bottom: 20px; 
}


p {
    margin-bottom: 15px; 
}


footer {
    margin-top: 20px; 
    text-align: center; 
}

.logo-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}

.logo {
    margin-right: 20px; 
}

.subscribe-button {
    
    border: 2px solid chocolate;
    padding: 10px 20px 10px 20px; 
    border-radius: 5px;
    color: chocolate;
    text-decoration: none; 
    
    font-family: 'Playfair Display', serif; 
    font-size: medium;
    margin-left: 150px;
}

.subscribe-button:hover {
    background-color: burlywood; 
}

.copyright-container{
    padding: 20px 20px 10px 20px; 
}


.link {
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    border-style:solid ;
    border-color: violet;
    border-width: 2px;
    text-align: center; 
}

.link a {
    text-decoration: none; 
    color: violet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    
}


header {
    display: flex;
    flex-direction: column; 
}

                                    /* Estilos para el contenedor del logo, menú y botón de suscripción */
.logo-container {
    display: flex; 
    align-items: center; 
}

/* Estilos para el logotipo */
.logo-content {
    margin-right: 130px; 
}

/* Estilos para el menú de navegación */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.menu li {
    margin-right: 15px; 
}

.menu li:last-child {
    margin-right: 0; 
}

.menu li a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 5px;
}

/* Estilos para el botón de suscripción */
.subscribe-container {
    display: flex;
    margin-left: 140px; 
}

/* Estilos para el contenido del encabezado */
.header-content {
    margin-top: 20px; 
}


/* Media query para dispositivos móviles */
@media only screen and (max-width: 600px) {
    /* Ajustes para dispositivos móviles */
    header {
        text-align: center; /* Centra el contenido del encabezado */
    }
    
    .logo-container {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: center; /* Centra los elementos horizontalmente */
        
    }

    .logo-content{
        margin-left: 150px;
    }

    nav {
        margin-top: 10px; /* Agrega espacio entre el logo y el menú */
    }

    .subscribe-container {
        display: flex;
        justify-content: center; /* Centra el contenido horizontalmente */
        align-items: center; /* Centra el contenido verticalmente */
        margin-top: 20px; 
        margin-right: 100px;
    }

    .menu li a {
        font-size: small; /* Reducir el tamaño de la fuente del menú */
    }

    .subscribe-button {
        font-size: small; /* Reducir el tamaño de la fuente del botón de suscripción */
        padding: 8px 16px; /* Reducir el relleno del botón de suscripción */
        border: none;
        margin: 0px;
        
        
    }

    main article {
        text-align: justify; /* Ajusta el texto del artículo */
    }
}










